// Colors

$gris: #9F9F9F;
$grisOscuro: #9B9B9B;
$grisClaro: #eee;
$blanco: #ffffff;
$back: #F4F6F7;
$blancusco: #F4F6F7;

$negro: #253023;
$azul: #02CEE4;
$verdeOscuro: #00361B;
$verdeOscuro2: #006131;
$verdeNeutro: #59AA46;
$verdeClaro: #68C951;
$verdoso: #8F9E8B;


// Colores de estado

$rojo: #D0021B;
$amarillo: #F8E71C;
$azulClaro: #02CEE4;
