// Imports 
@import '../variables';
@import '../mixins';


.dashboard {
	.lastestNotifications {
		margin-top: 100px;
	}
}

.inicio {

	.item {
		width: 400px;
		max-width: 400px;
		margin-right: 2em;

		&Header {
			background-color: $verdeClaro;
			padding: 12px;

			a {
				color: $verdeOscuro2;
				font-weight: 200;
				font-size: 18px;
			}
		}

		&Body {
			background-color: $blanco;
			padding-top: 4em;
			display: flex;
			justify-content: center;
		}
	}
}
