// Imports 
@import '../variables';
@import '../mixins';

.footer {
	z-index: 2;
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: $verdeOscuro;
	display: flex;
	justify-content: center;
	align-items: center;
	nav {
		display: flex;
		justify-content: center;
		align-items: center;

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				margin: 0 2em;
				@include for-phone-only {
					margin: 0 .8em;
				}

				a {
					display: block;
					width: 39px;
					height: 39px;
					border-radius: 50%;
					background-color: transparent;
					@include prefix(transition, all .4s ease-in-out);

					&:hover {
						background-color: $verdeClaro;
					}
				}
				.activeLink {
					background-color: $verdeClaro;
				}
			}
		}
	}

	.logos {
		position: absolute;
		right: 10px;

		@include for-phone-only {
			display: none !important;
		}
		@include for-tablet-portrait-up  {
			display: none !important;
		}

		img {
			width: 250px;
			max-width: 250px;
		}
	}
}