// Imports 
@import '../variables';
@import '../mixins';


.grupos {

	&-grid {
		width: 100%;
		margin-top: 4em;
		.grupo {
			margin-right: 1em;
			margin-bottom: 1em;
			&-header {
				background-color: $verdeClaro;
				font-size: 20px;
				font-weight: 100;
				padding: .5em 1em;
				a {
					color: $blanco;
				}
			}

			&-content{
				background-color: $blanco;
				border: 4px solid $grisClaro;
				padding: 1em 1em;
			}

			&-people {
				h5 {
					color: $verdeOscuro2;
					font-size: 18px;
					font-weight: 400;
				}
				span {
					font-size: 12px;
					font-weight: 100;
					display: inline-block;
					padding-right: .5em;

					&:after {
						content: "|";
						margin-left: .5em;
					}
				}
			}

			&-avatars {
				display: flex;
				width: 100%;
				.avatar {
					margin-right: 4px;
					margin-top: 8px;
					margin-bottom: 12px;
					.circle3030 {
						border: 1px solid $verdeClaro;
					}
					img {
						border-radius: 50%;
					}
				}
			}

			&-cta {
				
			}
		}
	}
}


// Profile

.group-profile {
	.teamProfile {
		width: 100%;

		.person {
			width: 33.33% !important;
		}
	}
}

