// Imports 
@import '../variables';
@import '../mixins';


.dashboard {
	.lastestNotifications {
		margin-top: 100px;
	}
}

.inicio {
	.flex-row {
		justify-content: space-between;
	}
	.item {
		width: 30.33%;
		max-width: 33.33%;
		margin-bottom: 2em;
		cursor: pointer;
		@include prefix(transition, all .3s ease-in-out);

		@include for-phone-only {
		 width: 100%;
		 max-nike: 100%;			
		}

		&:hover {
			@include prefix(box-shadow, 0px 2px 8px 1px rgba(0,0,0,0.15));
		}
		&:hover a {
			color: $blanco;
		}

		&Header {
			background-color: $verdeClaro;
			padding: 12px;

			a {
				color: $verdeOscuro2;
				font-weight: 100;
				font-size: 18px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include prefix(transition, all .3s ease-in-out);

				i {
					color: $blanco;
				}

				&:hover {
					color: $blanco;
				}

				&:active {
					text-decoration: none;
					color: $blanco;
				}
				&:focus {
					text-decoration: none;
					color: $blanco;
				}
			}
		}

		&Body {
			background-color: $blanco;
			padding-top: 4em;
			display: flex;
			justify-content: center;
			@include prefix(transition, all .3s ease-in-out);

			&:hover {
				background-color: darken($verdeClaro, 5%);
			}
		}
	}
}


.cargar-grupos {
	.file {
		max-width: 500px;
		margin-top: 2em;
		&-input {
			height: 180px;
			width: 100%;
			position: relative;
			background-color: $blanco;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1em;
			@include prefix(box-shadow, 0px 2px 8px 1px rgba(0,0,0,0.15));
			
			span {
				font-size: 16px;
				font-weight: 100;
				letter-spacing: 3px;
				text-transform: uppercase;	
				text-align: center;
			}

			input {
				position: absolute;
				height: 180px;
				width: 100%;
				opacity: 0;
				@include prefix(transition, all .4s ease-in-out);

				&:focus {
					opacity: 1;
					border: 0;
					box-shadow: none;
					outline: 0;
				}
				&:active {
					opacity: 1;
					border: 0;
					box-shadow: none;
					outline: 0;
				}
			}
		}
	}
}

.notif {
	.fase {
		padding: 2em;
		a {
			color: $verdeOscuro2;
		}
	}
}


.logs {
	.fase {
		background-color: $verdeOscuro2;
		padding: 2em;
		a {
			color: $blanco;
		}
	}
}
.input-flex {
	display: flex;
	justify-content: space-between;
}

.sesionContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	.sesion {
		width: 30%;
		margin-right: 8px;
		margin-top: 8px;

		@include for-phone-only {
			width: 47%;
		}

		a {
			color: $blanco;
			background-color: $verdeClaro;
			border: 2px solid $verdeOscuro2;
			border-radius: 30px;
			font-size: 18px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			font-weight: 100;
			align-items: center;
			padding: .5em 1em;
		}

	}
}

.createTest {

}

.mt8 {
	margin-top: .5em;	
}

