@import '../variables';

.campamento-base {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70bce8+0,ffffff+44,ffffff+100 */
	background: #70bce8; /* Old browsers */
	background: -moz-linear-gradient(top, #70bce8 0%, #ffffff 44%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #70bce8 0%,#ffffff 44%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #70bce8 0%,#ffffff 44%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70bce8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	.campamentoIntro {
		color: $blanco;
		// @include prefix(text-shadow, 1px 1px 1px $gris);
	}
	.title {
		color: $blanco;
	}

	.container-flex {
		position:absolute;
		z-index: 2;
	}

	.rutaVirtualBack {
		.falda {
			top: 0 !important;
		}
	}
}
.formulacion-de-proyecto {

	
}

.addActivity {
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;

	.content-wrapper {
		max-width: 800px;
		width: 800px;
		padding-bottom: 6em;
		margin-top: 2em
	}
	.form-group {
		margin-top: 2em;
	}
	.col-md-6 {
		padding: 0 8px 0 0;
	}

}
.dropdown {
	width: 100%;
	position: relative;

	.btn {
		background-color: transparent;
		border-radius: 0;
		border: 2px solid $verdeClaro;
		width: 100%;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.avatar {
			margin-top: 0;
		}
	}
}
.dropdown-menu {
	width: 100%;
	border-radius: 0;
	border: 1px solid $verdeClaro;
	max-height: 200px;
	overflow-y: scroll;

	li {
		display: block;
		width: 100%;
		
		a {
			display: block;
			width: 100%;
			padding: 0;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 0 2em;
			height: 40px;
			
			input {
				height: 40px;
				width: 100%;
				position: absolute;
				top: 0;
				left: .5em;
				margin: 0;
			}
			.avatar {
				margin-top: 0 !important;
			}
		}	
	}
}

.buton {

	button {
		max-width: 100%;
		width: 100%;
	}
}


.fasesContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	.fase {
		width: 100%;
		background-color: $blanco;
		padding: 1em;
		margin: 1em 0 0 0;
		color: $verdeClaro;
		font-size: 14px;
		font-weight: 100;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: $verdeClaro;
			font-size: 16px;
			font-weight: 100;
			align-items: center;
		}

	}
}
