@import '../variables';

.campamento-base {
	background-image: url(../img/camp-base.png);
	background-size: cover;
	background-position: center bottom;

	.campamentoIntro {
		color: $blanco;
		@include prefix(text-shadow, 1px 1px 1px $gris);
	}
	.title {
		color: $blanco;
	}
}
 .formulacion-de-proyecto {

 	.container-flex {
 		background-image: url(../img/nubes.png);
 		background-position: right 2%; 
 	} 
 }

 .addActivity {
 	background-color: rgba(0,0,0,.5);
 	z-index: 99;
 	width: 100%;
 	height: 100vh;
 	overflow-y: scroll;
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	display: flex;
 	justify-content: center;

 	.content-wrapper {
 		max-width: 800px;
 		width: 800px;
 		padding-bottom: 6em;
 		margin-top: 2em
 	}
	.form-group {
		margin-top: 2em;
	}
 	.col-md-6 {
 		padding: 0 8px 0 0;
 	}

 }
.dropdown {
	width: 100%;
	position: relative;

	.btn {
		background-color: transparent;
		border-radius: 0;
		border: 2px solid $verdeClaro;
		width: 100%;
		height: 45px;
	}
}
.dropdown-menu {
	width: 100%;
	border-radius: 0;
	border: 1px solid $verdeClaro;
}

.buton {

 	button {
 		max-width: 100%;
 		width: 100%;
 	}
 }


.fasesContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	.fase {
		width: 100%;
		background-color: $blanco;
		padding: 1em;
		margin: 1em 0 0 0;
		color: $verdeClaro;
		font-size: 14px;
		font-weight: 100;
		height: 40px;
		display: flex;
		align-items: center;

	}
}
