// Imports 
@import '../variables';
@import '../mixins';


.dashboard {
	.lastestNotifications {
		margin-top: 100px;
	}
}



.cumbre {
	h4 {
		color: $verdeClaro;
		font-size: 44px;
		font-weight: 600;
		margin: 2em 0;
	}
	h5 {
		color: $verdeOscuro2;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 2em 0 1em ;
		letter-spacing: 2px;
	}
	h3 {
		color: $verdeOscuro;
		font-size: 20px;
		margin: 1em 0;
	}
	.itemContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.item {
			width: 30%;
			margin-right: 1em;
			background-color: $verdeClaro;
			padding: 1em;
			color: $blanco;

			img {
				width: 50px;
				height: auto;
				margin-bottom: 8px;
			}
			h4 {
				color: $verdeOscuro2;
				font-weight: 700;
				font-size: 14px;
				margin: 8px 0;
			}
			p {
				font-weight: 100;
				font-size: 10px;
			}
		}
	}
}

