@import '../variables';
@import '../mixins';


.rutaVirtual {
	position: relative;
    height: auto !important;
    margin-top: 65px !important;
    margin-bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70bce8+0,ffffff+44,ffffff+100 */
	background: #70bce8; /* Old browsers */
	background: -moz-linear-gradient(top, #70bce8 0%, #ffffff 44%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #70bce8 0%,#ffffff 44%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #70bce8 0%,#ffffff 44%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70bce8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	.welcome {
		width: 600px;
		position: absolute;
		top: 4em;
		left: calc(50% - 300px);
		padding: 1em;
		background-color: rgba($verdeOscuro, .8);
		z-index: 2;

		@include prefix(box-shadow, 0px 10px 6px 1px rgba(255,255,255,0.5));

		.title {
			color: $blanco;
		}
		p {
			color: $blanco;
			font-weight: 100;
			font-size: 12px;
		}
	}

	&Clouds {
		position: fixed;
		top: 6em;
		width: 100%;
		z-index: 0;
		padding: 2em 0;
	}

	&Back{
		position: relative;
		width: 100%;
		height: 90vh;
		@include for-phone-only {
			padding-top: 0;
			height: auto;
		}

		.cumbre {
			width: 100%;
			position: absolute;
			top: 10%;

			@include for-phone-only {
				position: fixed;
				top: 300px;
				padding-bottom: 0;
			}

			img {
				width: 100%;
			}
		}
		.falda {
			width: 100%;
			position: absolute;
			top: 35%;

			img {
				width: 100%;
				object-fit: cover;
				object-position: center top;
			}
		}

		.rio {
			position: absolute;
			width: 100%;
			top: 15%;

			@include for-phone-only {
				bottom: 110px;
			}

			img {
				width: 100%;
			}
		}
	}


	&Elementos {
		z-index: 2;
		position: fixed;
		bottom: 80px;
		left: 2em;
		width: 70px;
		height: auto;
		border: 1px solid $blanco;
		display: flex;
		flex-direction: column;
		padding: 8px;
		
		p {
			color: $blanco;
			text-align: center;
			font-size: 10px;
			font-weight: 100;
			letter-spacing: 2px;
			margin-top: 8px;
		}

		@include for-phone-only {
			width: 52px;
		}

		.item {
			width: 100%;
			padding: 1em;
			border-bottom: 1px solid $blanco;
			background-color: $verdeOscuro;
			cursor: pointer;
			position: relative;
			@include prefix(transition, all .4s ease-in-out);
			
			@include for-phone-only {
				padding: .8em;
			}

			&:hover {
				background-color: rgba($verdeOscuro, .8);
				border-bottom: 1px solid $verdeOscuro;
			}

			&:hover .message {
				opacity: 1;
			}

			&:last-child {
				border-bottom: 0;
			}

			img {
				width: 100%;
				height: auto;
			}
			
			.message {
				position: absolute;
				opacity: 0;
				top: 0;
				left: 90px;
				height: 80px;
				width: 200px;
				background-color: rgba($verdeOscuro, .8);
				padding: .5em;
				@include prefix(transition, all .4s ease-in-out);
				span{
					color: $blanco;
					font-size: 12px;
					font-weight: 600;
					display: block;
				}
				small {
					color: $blanco;
					font-size: 10px;
					font-weight: 100;
					display: block;
				}
			}

		}
	}


	&Teams {
		position: fixed;
		height: 0;
		bottom: 50px;
		right: 0;
		z-index: 1;
		padding: 0 1em;
		display: flex;
		align-items: flex-end;

		@include for-phone-only {
			display: none;
		}

		.rule {
			position: relative;

			img {
				height: 60vh;
			}
		}

		.teamsContainer {
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-end;
			margin-right: 1em;

			.team {
				display: flex;
				flex-direction: column;
				width: 50px;
				height: auto;
				margin-right: 2em;
				padding: 1em 0;
				min-height: 100px;
				cursor: pointer;
				@include prefix(transition, all .4s ease-in-out);

				&:hover {
					transform: translateY(-10px);
				}

				&Bar {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,52b5ea+100&0.7+0,0.8+100 */
				background: -webkit-linear-gradient(rgba(255,255,255,0.7) 0%, rgba(82,181,234,0.8) 100%);
				background: -o-linear-gradient(rgba(255,255,255,0.7) 0%, rgba(82,181,234,0.8) 100%);
				background: linear-gradient(rgba(255,255,255,0.7) 0%, rgba(82,181,234,0.8) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#cc52b5ea',GradientType=0 ); /* IE6-9 */
					width: 100%;
					min-height: 100px;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					position: relative;

					&:hover p {
						opacity: 1;
					}
				
					p {
						color: $blanco;
						font-size: 12px;
						min-width: 250px;
						font-weight: 100;
						position: absolute;
						display: block;
						width: auto;
						letter-spacing: 4px;
						background-color: $verdeOscuro;
						padding: .5em;
						right: 54px;
						top: -70px;
						z-index: 1;
						opacity: 0;
						@include prefix(transition, all .4s ease-in-out);

						span {
							white-space: nowrap;
						}
						.position {
							color: $verdeClaro;
							font-weight: 500;
						}
						.nameTeam {
							color: $verdeNeutro;
						}

					}
				}

				.MyteamBar {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,5ae8de+100&0.9+0,0.9+100 */
				background: -webkit-linear-gradient(rgba(255,255,255,0.9) 0%, rgba(90,232,222,0.9) 100%);
				background: -o-linear-gradient(rgba(255,255,255,0.9) 0%, rgba(90,232,222,0.9) 100%);
				background: linear-gradient(rgba(255,255,255,0.9) 0%, rgba(90,232,222,0.9) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e65ae8de',GradientType=0 ); /* IE6-9 */
					width: 100%;
					min-height: 100px;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					position: relative;

					&:hover p {
						opacity: 1;
					}
				
					p {
						color: $blanco;
						font-size: 12px;
						min-width: 250px;
						font-weight: 100;
						position: absolute;
						display: block;
						width: auto;
						letter-spacing: 4px;
						background-color: $verdeOscuro;
						padding: .5em;
						right: 54px;
						top: -70px;
						z-index: 1;
						opacity: 0;
						@include prefix(transition, all .4s ease-in-out);

						span {
							white-space: nowrap;
						}
						.position {
							color: $verdeClaro;
							font-weight: 500;
						}
						.nameTeam {
							color: $verdeNeutro;
						}

					}
				}
				&Shield {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-bottom: 4px;

					background-color: $blanco;
					border-radius: 10%;
					padding: .5em;
					margin-bottom: .5em;

					&:hover .teamBar p {
						opacity: 1;
					}

					img {
						width: 40px;
						height: auto;
						margin-bottom: 4px;
					}
					
				}
			}
		}
	}
}